:root {
  --clr-Orange: hsl(25, 97%, 53%);
  --clr-Orange-Hover: hsl(25, 97%, 60%);
  --clr-White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Darker-Blue: hsl(213, 10%, 25%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);

  /*  TYPOGRAPHY  */
  --fs-paragraph: 15px;
  --ff-Overpass: 'OverPass' ,sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: var(--fs-paragraph);
  font-family: var(--ff-Overpass);
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: var(--Very-Dark-Blue);
  display: grid;
  place-items: center;
}

.App {
  width: 90%;
  height: 430px;
  max-width: 350px;
  border-radius: 15px;
  background-color: var(--Dark-Blue);
  padding: 2rem;
}

.star-container {
  width: 3rem;
  border-radius: 50%;
  background-color: var(--Darker-Blue);
  display: grid;
  place-items: center;
  padding: 0.8rem;
}

.star-container img{
  width: 100%;
}

.container h1 {
  color: var(--clr-White);
  margin: 1rem 0;
}

.container p {
  color: var(--Light-Grey);
  text-align: start;
  letter-spacing: 0.1rem;
  line-height: 1.3rem;
  margin: 1rem 1rem 2rem 0;
}

.btn-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  gap: 0.5rem;
  margin: 2rem 0;
}

.btn {
  background-color: var(--Darker-Blue);
  width: auto;
  display: grid;
  place-items: center;
  border-radius: 50%;
  padding: 0.8rem;
  color: var(--Medium-Grey);
  font-weight: 700;
  font-size: 20px;
  transition: all 0.2s linear;
}

.btn:hover {
  cursor: pointer;
  color: var(--clr-White);
  background-color: var(--Medium-Grey);
}

.active-btn {
  color: var(--clr-White) !important;
  background-color: var(--clr-Orange) !important;
}


.submit {
  width: 100%;
  height: 3rem;
  background-color: var(--clr-Orange);
  border: none;
  margin: 1rem 0;
  border-radius: 30px;
  font-size: 20px;
  color: var(--clr-White);
  font-weight: 700;
  transition: all 0.2s linear;
}

.submit:hover {
  cursor: pointer;
  background-color: var(--clr-Orange-Hover);
}

.submit:active {
  background: var(--clr-White);
  color: var(--clr-Orange);
}


/*
===============
  SUCCESS
===============
*/
.success-container .image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.success-container .rate-text {
  color: var(--clr-Orange);
  background-color: var(--Darker-Blue);
  text-align: center;
  width: max-content;
  padding: 0.7rem;
  margin: 2rem auto 1rem;
  border-radius: 20px;

}

.success-container h1 {
  color: var(--clr-White);
  text-align: center;
}

.success-container p {
  color: var(--Light-Grey);
  text-align: center;
  letter-spacing: 0.1rem;
  line-height: 1.3rem;
  margin: 1rem 0;
}